
@import url('https://fonts.googleapis.com/css2?family=Salsa&display=swap');


:root {
    --font-family: 'Salsa', cursive;
    --background-color: rgb(90, 90, 90);
    --main-color: #4a4074;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}


li {
    list-style: none;
}


body {
    background-color: var(--background-color);
}


.container {
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 50px;
}


.logo {
    display: flex;
    justify-content: center;
    font-size: 30px;
    color: #fff;
}


.paginationSction {
    padding: 25px;
    display: flex;
    justify-content: center;
}


.paginationbtn {
    display: flex;
    gap: 10px;
}


.paginationbtn li {
    border-radius: 8px;
    border: 1px solid #F1F1F1;
    background: #FFF;
    padding: 6px 12px;
    color: #000;
    font-weight: 600;
}


.paginationbtn li.active {
    background-color: var(--main-color);
    color: #fff;
}


.nextPage:hover,
.previousPage:hover {
    background-color: var(--main-color);
    color: #fff;
}
